.container {
	width: 100vw;
	height: 50vh;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-direction: column;
	justify-content: space-between;


}

.item {
	width: 20vw;
	height: 15vh;
	margin: 1%;
	background: rgb(71, 191, 255);
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.up{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.down{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
