.container {
	width: 100vw;
	height: 50vh;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#item1 {
	width: 20vw;
	height: 25vh;
	margin: 1%;
	background: rgb(71, 191, 255);
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#item2 {
	width: 20vw;
	height: 15vh;
	margin: 1%;
	background: rgb(71, 191, 255);
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

#item3 {
	width: 20vw;
	height: 40vh;
	margin: 1%;
	background: rgb(71, 191, 255);
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.up{
	display: flex;
	flex-direction: row;
}
