
.container {
	width: 100vw;
    height: 50vh;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;


}

.item {
    width: 20vw;
    height: 15vh;
	margin: 1%;
	background: rgb(71, 191, 255);
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
